body {
  font-family: Montserrat, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  background: url(image/bg.jpg) no-repeat;
  background-size: cover;
  background-color: RGB(55, 55, 52);
  background-attachment: fixed;
}
h1 {
  margin-top: 20px;
  margin-bottom: 0px;
  color: #344860;
  font-size: 24px;
  line-height: 44px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #344860;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
  color: #344860;
  text-align: center;
}

.delay-1 {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
 }
.delay-2 {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.delay-3 {
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
}
.delay-4 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.main-area {
    background-color: rgba(34, 48, 60, .8);
    color: white;
}

.social_links {
    padding: 0;
    margin: 0;
    display: block;
    overflow: hidden;
    list-style: none;
    text-align: center;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 50px;
}
.social_links li {
    display: inline-block;
    margin-right: 4px;
    border: 2px solid;
    border-radius: 50%;
    padding: 2px;
    color: white;
    font-size: 18px;
    background-color: rgba(34, 48, 60, .5);
    transition: 0.2s;
}
.social_links li:hover {
    background-color: rgba(34, 48, 60, 1);
    transition: 0.2s;
//    font-size: 20px;
}
.social_links li a {
    display: block;
    width: 46px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    color: white;
}

a, a:hover, a:active {
    outline: 0px !important;
    text-decoration: none;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
.full-widh-bg {
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #344860;
}
.full-widh-bg.responsive {
  padding-bottom: 0px;
  background-image: url(../files/image/bg1.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.full-widh-bg.story {
  background-image: url(../files/image/story-bg.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.img {
  position: static;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  min-height: 300px;
  margin-top: 46px;
  margin-bottom: 0px;
  padding-top: 0px;
  background-image: url(../files/image/responsive-devices.png);
  background-position: 50% 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
.wite-center {
  color: white;
  text-align: center;
  transition: 0.4s;
}

.hero-offset {
  padding-top: 520px;
}

.role {
  color: white;
  text-align: center;
  transition: 0.4s;
  height: 30px;
}

.hero {
       z-index: 100000;
//  color: white;
//  text-align: center;
//  overflow-x: hidden;
//  overflow-y: hidden;
  font-size: 20px;
  padding-top: 100px;
//  padding-bottom: 0px;
  width: 100%;
    padding-bottom: 20px;
  background-color: rgba(34, 48, 60, 0);
//  background-image: url(../files/image/herobg.png);
//  background-position: 50% 100%;
//  background-size: cover;
//  background-repeat: no-repeat;
//  background-color: #f1f1f1;
  transition: 0.4s;
  position: fixed;

}
.userpic {
  display: block;
  width: 270px;
  height: 270px;
  margin-top: 20px;
  margin-left: calc(50% - 135px);
  margin-right: auto;
  margin-bottom: 15px;
  border: 4px solid white;
  border-radius: 200px;
  background-image: url(../files/image/userpic.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.4s;
}
.name {
  display: block;
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;
  margin-top: 0px;
  border-bottom-style: none;
  color: white;
  font-size: 60px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.projects {
  display: block;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 10px;
  font-size: 27px;
  text-transform: uppercase;
}
.name-span {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  text-decoration: none;
}
.nav-bg {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 2100;
  background-color: #344860;
  text-align: left;
}
.nav-link {
  left: 0px;
  top: 0px;
  color: white;
  text-transform: uppercase;
}
.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}
.nav-link.w--current {
  color: #4a91e8;
}
.nav-link.bottom.w--current {
  color: white;
}
.nav {
  text-align: right;
}
.nav-menu {
  float: none;
  color: white;
  text-align: center;
}
.navbar {
  background-color:rgba(34, 48, 60, .8);
  color: white;
}
.navbar-menu {
  text-align: center;
}
.timeline {
  margin-top: 40px;
  margin-bottom: 40px;
  background-image: url(../files/image/line.png);
  background-position: 50% 50%;
  background-repeat: repeat-y;
}
.p-right {
  position: static;
  top: 0px;
  right: -37px;
  display: block;
  overflow-x: visible;
  overflow-y: visible;
  margin-top: 5px;
  margin-right: 20px;
  margin-left: auto;
  text-align: right;
}
.h-left {
  margin-top: 5px;
  margin-bottom: auto;
  margin-left: 20px;
  text-align: left;
}
.year {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url(../files/image/circle.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.p-left {
  margin-top: 5px;
  margin-left: 20px;
  text-align: left;
}
.h-right {
  margin-top: 5px;
  margin-right: 20px;
  margin-bottom: auto;
  text-align: right;
}
.img-info {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  background-color: rgba(52, 72, 96, 0.70);
}
.portfolio-img {
  width: 220px;
  height: 220px;
  min-width: 0px;
  background-image: url(../files/image/choochoo_1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.over {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: rgba(52, 72, 96, 0.8);
}
._123 {
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
.info {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-right: 10px;
  margin-left: 10px;
  background-color: rgba(52, 72, 96, 0.90);
}
.port {
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: 37px;
}
.portfolio {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}
.portfolio.contact {
  margin-bottom: 15px;
  text-align: left;
}
.customer {
  opacity: 0.4;
}
.customer:hover {
  opacity: 1;
}
.last-work {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #e6e6e6;
}
.icon-text {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 50px;
  text-align: left;
}
.icon-text._4-icon {
  background-image: url(../files/image/4.png);
  background-position: 0px 50%;
  background-repeat: no-repeat;
}
.icon-text.imac-icon {
  background-image: url(../files/image/iMac.png);
  background-position: 0px 50%;
  background-repeat: no-repeat;
}
.icon-text.joypad-icon {
  background-image: url(../files/image/joypad.png);
  background-position: 0px 50%;
  background-repeat: no-repeat;
}
.subtitle {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
}
.input {
  width: 100%;
  min-height: 45px;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: #f6f6f6;
}
.input.input-text {
  min-height: 111px;
}
.submit {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  border-radius: 4px;
  background-color: #344860;
}
.social {
  padding-right: 15px;
  padding-left: 15px;
}
html.w-mod-js.w-mod-no-ios *[data-ix="from-bottom"] {
  -webkit-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate(0px, 200px);
}
html.w-mod-js.w-mod-no-ios *[data-ix="popup"] {
  opacity: 0;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}
html.w-mod-js.w-mod-no-ios *[data-ix="popup-2"] {
  opacity: 0;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}
html.w-mod-js.w-mod-no-ios *[data-ix="popup-3"] {
  opacity: 0;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}
html.w-mod-js.w-mod-no-ios *[data-ix="popup-4"] {
  opacity: 0;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}
html.w-mod-js *[data-ix="display-none"] {
  display: none;
}
html.w-mod-js.w-mod-no-ios *[data-ix="from-right"] {
  opacity: 0;
  -webkit-transform: translate(300px, 0px);
  -ms-transform: translate(300px, 0px);
  transform: translate(300px, 0px);
}
html.w-mod-js.w-mod-no-ios *[data-ix="from-left"] {
  opacity: 0;
  -webkit-transform: translate(-300px, 0px);
  -ms-transform: translate(-300px, 0px);
  transform: translate(-300px, 0px);
}
html.w-mod-js.w-mod-no-ios *[data-ix="from-right-2"] {
  opacity: 0;
  -webkit-transform: translate(300px, 0px);
  -ms-transform: translate(300px, 0px);
  transform: translate(300px, 0px);
}
html.w-mod-js.w-mod-no-ios *[data-ix="from-left-2"] {
  opacity: 0;
  -webkit-transform: translate(-300px, 0px);
  -ms-transform: translate(-300px, 0px);
  transform: translate(-300px, 0px);
}
html.w-mod-js *[data-ix="info"] {
  -webkit-transform: translate(0px, 87px);
  -ms-transform: translate(0px, 87px);
  transform: translate(0px, 87px);
}
html.w-mod-js.w-mod-no-ios *[data-ix="popup-5"] {
  opacity: 0;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}
html.w-mod-js.w-mod-no-ios *[data-ix="popup-6"] {
  opacity: 0;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
  .full-widh-bg.responsive {
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .full-widh-bg.story {
    padding: 30px 20px;
  }
  .img {
    margin-top: -100px;
    padding-top: 0px;
  }
  .portfolio {
    padding: 30px 20px;
  }
  .lightbox {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .customer {
    padding-bottom: 20px;
  }
  .last-work {
    padding: 30px 20px;
  }
  .serv {
    padding-bottom: 20px;
  }
}
@media (max-width: 479px) {
  .projects {
    line-height: 29px;
  }
  .name-span {
    border: 0px solid black;
    line-height: 63px;
    text-decoration: none;
  }
  .mouse {
    display: none;
  }
  .section {
    text-align: center;
  }
  .timeline {
    background-image: none;
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }
  .p-right {
    margin-right: auto;
    text-align: center;
  }
  .h-left {
    margin-left: auto;
    text-align: center;
  }
  .year {
    padding-top: 0px;
    padding-bottom: 20px;
    background-image: none;
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }
  .p-left {
    margin-left: auto;
    text-align: center;
  }
  .h-right {
    margin-right: auto;
    text-align: center;
  }
  .customer {
    position: static;
    display: block;
    min-width: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 30px;
    float: none;
    clear: none;
    text-align: center;
  }
  .social {
    padding-right: 10px;
    padding-left: 10px;
  }
  .serv {
    padding-bottom: 20px;
  }
}